@import url("https://use.typekit.net/xcg8gvp.css");
/* some code taken from https://alvarotrigo.com/blog/css-animations-scroll/ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bitcount-mono-single-circle", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body{
  background-color: #2fc1d6
  ;
}

.iframe{
  width : 100%;
  height: 450px;
  display: flex;
  padding-left:515px;
  padding-top: 100px;
  justify-content: flex-end;
}


#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  height:100vh;
  display:flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.top-right{
  padding:20px;
  position:fixed;
  z-index:100;
}

.bottom-left{
  height:100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding:20px;
  position:fixed;
  z-index:100;
  pointer-events: none;
}

.page{
  height: 100vh;
}

.full{
  max-width: 100%;
  /* max-height: 100vh; */
  margin: auto;
}
.imgbox {
  display: grid;
  height: 100%;
}