@import url("https://use.typekit.net/xcg8gvp.css");
/* some code taken from https://alvarotrigo.com/blog/css-animations-scroll/ */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.map {
  height: 100vh;
  padding: 10vw;

}
.cls-1 {
  fill: #cae0a4;
  stroke: #90d390;
  stroke-width: 2px;
}
.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-9 {
  stroke-miterlimit: 10;
}
.quietAreas {
  fill: #39b54a;
  stroke: #39b54a;
  opacity: 0.29;
  transition:stroke-width 300ms;
}
.cls-2,
.cls-3,
.cls-9 {
  opacity: 0.29;
}
.loudAreas {
  fill: #f209;
  stroke: #f20;
  transition:stroke-width 300ms;
}
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.seasonal {
  fill: none;
  stroke: #40a8cc;
  transition:stroke-width 300ms;
}
.cls-4 {
  stroke-dasharray: 11.83 11.83;
}
.cls-5 {
  stroke-dasharray: 12.06 12.06;
}
.cls-6 {
  stroke-dasharray: 11.94 11.94;
}
.cls-7 {
  stroke-dasharray: 12.41 12.41;
}
.seasonal {
  stroke-dasharray: 12.33 12.33;
}
.cls-9 {
 transform: scale(0.7);
}

.quietAreas:hover {
  stroke-width: 20px;
}

.loudAreas:hover{
  stroke-width: 20px;
}

.seasonal:hover{
  stroke-width: 20px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

header {
  display: flex;
  padding: 15px 30px; 
  background: lightgray;
  width:100vw;
  z-index:4
}

.circle {
  border: solid 200px red;
  background-color: red;
  border-radius: 50%;
  opacity: 0.3;
  position:absolute;
  top: 35vh;
  left: 40vw;
}

.circle1 {
  border: solid 300px red;
  background-color: red;
  border-radius: 50%;
  opacity: 0.3;
  position:absolute;
  top: 220vh;
  left: 25vw;
}


.circle2 {
  border: solid 250px green;
  background-color: green;
  border-radius: 50%;
  opacity: 0.3;
  position:absolute;
  top: 130vh;
  left: 35vw;
}

.circle3 {
  border: solid 100px green;
  background-color: green;
  border-radius: 50%;
  opacity: 0.3;
  position:absolute;
  top: 250vh;
  left: 10vw;
}

.circle4 {
  border: solid 200px teal;
  background-color: teal;
  border-radius: 50%;
  opacity: 0.3;
  position:absolute;
  top: 100vh;
  left: 10vw;
}



.container {
  overflow:hidden;
  background-image: url("/images/park.png");
  height: 300vh;
  width: 100vw !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menuToggle {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
@media screen and (max-width: 600px) {
  .circle {
    border: solid 120px red;
    top: 50vh;
  
  }

  .circle1 {
    border: solid 130px red;
  
  }
  
  .circle2 {
    border: solid 100px green;
    top: 150vh;

  }

  .circle3 {
    border: solid 100px green;
  }

  .circle4 {
    border: solid 80px teal;
  }

}

