@import url("https://use.typekit.net/xcg8gvp.css");
/* some code taken from https://alvarotrigo.com/blog/css-animations-scroll/ */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #f2faf2;
}

.map {
  height: 100vh;
  padding: 4vw;
}
.popup img{
  width: 20vw;
  height:auto;
  pointer-events: none
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.key-text{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}


header {
  padding: 15px 50px; 
  background: none;
  width:100vw;
  z-index:4;
  overflow: hidden;
}

button {
  background-color: #90d390;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#key {
  position: absolute;
  top: 5%;
 right: 3%;
  z-index: 99;
  background-color: white;
  padding:10px 20px;
  border: 2px solid #000;
  border-radius: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}

.sound {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #f20; 
  margin-right: 10px;
}

.smell {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: purple; 
  margin-right: 10px;
}

.good{
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #39b54a; 
  margin-right: 10px;
}

.season{
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #40a8cc; 
  margin-right: 10px;
}

/* CSS for the Map */
.cls-1 {
  fill: #c4e291;
  stroke: #90d390;
  stroke-width: 2px;
}


.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-9 {
  stroke-miterlimit: 10;
}

.quietAreas {
  fill: #39b54a;
  stroke: #39b54a;
  opacity: 0.29;
  transition:stroke-width 300ms;
}
.cls-2,
.cls-3,
.cls-9 {
  opacity: 0.29;
}

#popup1 {
  position: absolute;
  z-index: 99;
  opacity:0;
  transition: opacity 300ms;
  padding-top:20%;
  padding-left: 20%;
  pointer-events: none;
}

#popup2 {
  position: absolute;
  z-index: 99;
  opacity:0;
  pointer-events: none;
  transition:opacity 300ms;
  padding-top:90%;
  padding-left: 40%;
}

.popup {
  background-color: white;
  padding:20px;
  border-radius: 20px;
}

.loudAreas {
  fill: #f20;
  stroke: #f20;
  opacity: 0.29;
  transition:stroke-width 300ms;
}


.smelly {
  fill: purple;
  stroke: purple;
  opacity: 0.29;
  transition:stroke-width 300ms;
}





.cls-4,
.cls-5,
.cls-6,
.cls-7,
.seasonal {
  fill: none;
  stroke: #40a8cc;
  transition:stroke-width 300ms;
}
.cls-4 {
  stroke-dasharray: 11.83 11.83;
}
.cls-5 {
  stroke-dasharray: 12.06 12.06;
}
.cls-6 {
  stroke-dasharray: 11.94 11.94;
}
.cls-7 {
  stroke-dasharray: 12.41 12.41;
}
.seasonal {
  stroke-dasharray: 12.33 12.33;
}
.cls-9 {
 transform: scale(0.7);
}

.quietAreas:hover {
  stroke-width: 20px;
}

.loudAreas:hover{
  stroke-width: 20px;
}

.loudAreas:hover + .cls-10 {
  opacity:1;
}

.seasonal:hover{
  stroke-width: 20px;
}



/* media queries */

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
@media screen and (max-width: 600px) {

  .map {
    padding: 5vw;
  }

  #key {
    margin-top: 20px;
    z-index: 99;
    padding:10px 20px;
    position:static;
  }


}
